.places {
  display: flex;
  flex-direction: column;
  padding: 12px 148px 92px 148px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 12px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 12px 24px 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 12px 16px 64px 16px;
  }
}
