.cover {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(1280px - 48px * 2);
  height: 740px;
  padding: 0 48px 0 48px;
  margin: 0 auto;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}

